*{
    margin: 0;
    padding: 0;
}
.game-name{
    text-align: center;
    font-size: 28px;

    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  
}
.choices{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}
.choice{
    width: 165px;
    height:165px;
    display: flex;
     justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
.choice img{
    width: 150px;
    height:150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    gap:3rem;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
}
.user-score,.computer-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg{
    background-color:#081b31;
    color: #fff;
    font-size: 2rem;
    border-radius: 1rem;
    display: inline;
    padding: 1rem;
    text-align: center;

}